.conversion-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: #000000;
}

.conversion-card {
  --grid-gap: 20px;
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: min(calc(100vw / 2 - var(--grid-gap)), calc(100vh / 2 - var(--grid-gap) - 60px));
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: #1E1E1E;
  color: #fff;
  /* box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); */
  box-shadow: 8px 8px 16px 0 rgba(4, 4, 4, 0.8), -8px -8px 12px 0 rgba(39, 39, 44, 0.48);
  transition: all 0.3s ease-in-out;
}

.conversion-card:hover {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.currency-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  text-align: center;
}

.arrow {
  position: absolute;
  z-index: 99;
}