.conversion-page {
  --grid-gap: 20px;
  --card-size: min(
    calc(100vw / 2 - var(--grid-gap)),
    calc(100vh / 2 - var(--grid-gap) - 60px)
  );
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(2, var(--card-size));
  grid-gap: var(--grid-gap);
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.conversion-card {
  display: grid;
  grid-template-areas:
    "abrv rate"
    "logo logo"
    "name name";
  padding: 20px;
  border-radius: 20px;
  background-color: #f0f0f0;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.currency-abrv {
  grid-area: abrv;
  font-weight: bold;
}

.conversion-rate {
  grid-area: rate;
  text-align: end;
  font-style: italic;
  font-weight: light;
}

.currency-logo {
  grid-area: logo;
  padding: 0 5px 0 0;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
}

.currency-name {
  grid-area: name;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.Ether {
  background-color: #00d092;
}

.Euro {
  background-color: #0000ff;
}
