* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  --main-background-color: black;
}

body{
  margin: 0;
  background-color: black;
  color: white
}

.horizontal-center {
  margin: 0 auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.full-height {
  height: calc(100vh - 60px);
}

.center-space-content>* {
  margin: 0 0 auto 0;
}

.page-title {
  font-size: 3rem;
}